<div class="container">
  <form [formGroup]="newTaskForm" (ngSubmit)="addNewItem()">
    <div class="inputs">
      <input
        formControlName="title"
        class="input"
        placeholder="Новая задача..."
        required
      />
      <input
        class="datepicker"
        type="date"
        formControlName="date"
        [(ngModel)]="selectedDate"
        [value]="newTaskForm.controls['date'].value"
        required
      />

      <select formControlName="category" class="select arrow" required>
        <option class="option" value="Тип задачи..." selected>
          Тип задачи...
        </option>
        <ng-container *ngFor="let category of categories$ | async">
          <option value="{{ category.name }}">{{ category.name }}</option>
        </ng-container>
      </select>
    </div>
    <button
      class="button"
      [ngClass]="{
        enabled: !newTaskForm.invalid,
        disabled: newTaskForm.invalid
      }"
      type="submit"
      [disabled]="newTaskForm.invalid"
      matRipple
    >
      Добавить
    </button>
  </form>
</div>
