<!--<mat-card class="m-4">-->
<!--  <button mat-icon-button [matMenuTriggerFor]="menu" type="button">-->
<!--    <mat-icon>more_vert</mat-icon>-->
<!--  </button>-->
<!--  <mat-menu #menu="matMenu">-->
<!--    <button mat-menu-item (click)="deleteTask()">-->
<!--      <mat-icon>cancel</mat-icon>-->
<!--      <span>Удалить</span>-->
<!--    </button>-->
<!--  </mat-menu>-->
<!--  <mat-card-header>-->
<!--    <div mat-card-avatar class="example-header-image"></div>-->
<!--    <mat-card-title>{{ task.title }}</mat-card-title>-->
<!--  </mat-card-header>-->
<!--</mat-card>-->
<!--<mat-card-content>-->
<!--  <mat-chip-list aria-label="Fish selection">-->
<!--    <mat-chip selected (click)="sortCategory()"-->
<!--    >{{ task.category }}-->
<!--    </mat-chip>-->
<!--  </mat-chip-list>-->
<!--</mat-card-content>-->
<div class="container">
  <div class="check">
    <ng-container *ngIf="task.check">
      <button mat-menu-item (click)="checkTask()">
        <mat-icon>check_box</mat-icon>
      </button>
    </ng-container>
    <ng-container *ngIf="!task.check">
      <button mat-menu-item (click)="checkTask()">
        <mat-icon>check_box_outline_blank</mat-icon>
      </button>
    </ng-container>
  </div>
  <div class="task">
    {{ task.title }}
  </div>
  <!--  <button mat-menu-item (click)="deleteTask()">-->
  <!--    <mat-icon>cancel</mat-icon>-->
  <!--  </button>-->
</div>
