button {
  border: none;
  outline: none;
}
.container-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  gap: 5px;
  min-width: 351px;
  max-width: 351px;
  background: rgba(53, 53, 53, 0.45);
  border-radius: 10px;
}

.button-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  width: 34.6px;
  height: 17px;
}

.check {
  order: -1;
  color: #fcfaf2;
}

.task {
  flex-grow: 1;
  text-align: left;
  font-family: 'ABeeZee', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fcfaf2;
}

.star {
  color: #353535;
}

.star-check {
  color: #ffffff;
}
