<div class="container-task">
  <mat-icon class="check" *ngIf="task.check" (click)="checkTask()"
    >check_box</mat-icon
  >
  <mat-icon class="check" *ngIf="!task.check" (click)="checkTask()"
    >check_box_outline_blank</mat-icon
  >
  <div class="task">{{ task.title }}</div>
  <div class="button-check">
    <mat-icon *ngIf="task.urgency" class="star-check" (click)="changeUrgency()"
      >error</mat-icon
    >
    <mat-icon *ngIf="!task.urgency" (click)="changeUrgency()" class="star"
      >error_outline</mat-icon
    >
    <mat-icon
      *ngIf="task.category === 'Простая'"
      class="star"
      (click)="changeCategory()"
      >star_border</mat-icon
    >
    <mat-icon
      *ngIf="task.category === 'Важная'"
      (click)="changeCategory()"
      class="star-check"
      >star</mat-icon
    >
  </div>
</div>
