button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 48px;

  width: 69.68px;
  height: 18.98px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.button {
  color: #fcfaf2;
}
.calendar {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5;
  margin: 76px;
  padding: 42px 30px 48px;
  width: 923px;
  background: #d4a3c4;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 141px;
  width: 833px;
  height: 55px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

table {
  background: #d4a3c4;
  border-radius: 20px;
}

th {
  font-family: 'ABeeZee', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: rgba(68, 68, 68, 0.46);
}

.day {
  color: #fcfaf2;
  font-family: 'Arial', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 5px 0px 10px 6px;
  gap: 5px;
  isolation: isolate;

  width: 115px;
  height: 99px;

  /* Текст на фоне */

  border: 3px solid rgba(0, 0, 0, 0.25);

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.day:hover {
  background-color: rgba(143, 116, 187, 0.41);
}

.month {
  width: 110px;
  height: 48px;
  font-family: 'Abhaya Libre ExtraBold', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 57px;
  color: #fcfaf2;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.year {
  width: 107px;
  height: 55px;

  font-family: 'Arial', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;

  /* Текст на кнопках */

  color: #fcfaf2;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.last {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0px 0px 20px;
  gap: 31px;
  width: 115px;
  height: 99px;
  border: 3px solid rgba(0, 0, 0, 0.25);
  flex: none;
  order: 0;
  flex-grow: 0;

  font-family: 'Arial', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: rgba(53, 53, 53, 0.45);
}

.next {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0px 0px 20px;
  gap: 31px;
  width: 115px;
  height: 99px;
  border: 3px solid rgba(0, 0, 0, 0.25);
  flex: none;
  order: 0;
  flex-grow: 0;

  font-family: 'Arial', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: rgba(53, 53, 53, 0.45);
}
.day ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 3px 3px;
  gap: 10px;

  width: 98px;
  height: 22px;

  /* Серый

Прозрачный тёмный фон
*/
  background: rgba(53, 53, 53, 0.45);
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}
//
//.day ul li {
//  padding: 4px;
//  fonts-size: 14px;
//  text-align: left;
//  border-bottom: 1px solid #ccc;
//}
//
//.day ul li:last-child {
//  border-bottom: none;
//}
