<div class="calendar">
  <div class="header">
    <h2 class="month">{{ currentMonth | date: 'MMMM' }}</h2>
    <h2 class="year">{{ currentMonth | date: 'y' }}</h2>
    <div class="buttons">
      <mat-icon class="button"
        ><button (click)="previousMonth()">arrow_back_ios</button></mat-icon
      >
      <mat-icon class="button"
        ><button (click)="nextMonth()">arrow_forward_ios</button></mat-icon
      >
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th *ngFor="let day of weekdays">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of weeks">
        <td *ngFor="let day of week" (click)="addTask(day)">
          <div
            [ngClass]="{
              last: day.getMonth() === currentMonth.getMonth() - 1,
              next: day.getMonth() === currentMonth.getMonth() + 1,
              day: day.getMonth() === currentMonth.getMonth()
            }"
          >
            {{ day.getDate() }}
            <ng-container *ngIf="tasks$ | async; let allTasks">
              <ul
                *ngFor="
                  let task of allTasks
                    | taskDateFilter: day
                    | filterCategories: sortCategory
                "
              >
                <li>{{ task.title }}</li>
              </ul>
            </ng-container>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
