.container-card-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;

  position: absolute;
  width: 1110px;
  height: 472px;
  left: 304px;
  top: 359px;
}
