<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12">
      <mat-card class="m-5">
        <form [formGroup]="newPostForm" (ngSubmit)="addNewItem()" class="row">
          <mat-form-field appearance="outline" class="col-8">
            <mat-label>Описание</mat-label>
            <input matInput formControlName="title" required />
          </mat-form-field>
          <!--    <input name="file" type="file" (change)="uploadImage($event)" />-->
          <mat-form-field appearance="outline" class="col-4">
            <mat-label>Категория</mat-label>
            <mat-select formControlName="category" required>
              <mat-option
                *ngFor="let category of categories$ | async"
                value="{{ category.name }}"
              >
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="row">
            <ng-container
              *ngFor="
                let tagControl of tags.controls;
                index as index;
                last as isLast
              "
            >
              <mat-form-field appearance="outline" class="col-6">
                <mat-label>Тег</mat-label>
                <input
                  matInput
                  [formControl]="$any(tagControl).controls.name"
                  type="text"
                  name="tag"
                  required
                />
              </mat-form-field>
              <div class="col-2">
                <button
                  mat-icon-button
                  type="button"
                  (click)="deleteTagInput(index)"
                >
                  <mat-icon>clear</mat-icon>
                </button>
              </div>
            </ng-container>
            <button
              class="ml-2"
              mat-icon-button
              color="accent"
              type="button"
              (click)="addNewTag()"
            >
              <mat-icon>add</mat-icon>
              Добавить тег
            </button>
          </div>
          <div class="container">
            <div class="row justify-content-md-center">
              <button
                mat-raised-button
                class="color-crimson col-6"
                type="submit"
                [disabled]="newPostForm.invalid"
              >
                Добавить пост
              </button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
