<mat-card class="m-4">
  <button mat-icon-button [matMenuTriggerFor]="menu" type="button">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="deletePost()">
      <mat-icon>cancel</mat-icon>
      <span>Удалить</span>
    </button>
  </mat-menu>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ post.title }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image *ngIf="post.imageSrc" [src]="post.imageSrc" />
  <mat-card-content>
    <p>
      {{ post.author }}
    </p>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip color="accent" selected (click)="sortCategory()"
        >{{ post.category }}
      </mat-chip>
      <mat-chip *ngFor="let tag of post.tags">{{ tag.name }}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!post.countLike" mat-button (click)="likePost()">
      <mat-icon>favorite</mat-icon>
      {{ post.countLike }}
    </button>
    <button
      *ngIf="post.countLike"
      color="accent"
      mat-button
      (click)="removeLikePost()"
    >
      <mat-icon>favorite</mat-icon>
      {{ post.countLike }}
    </button>
  </mat-card-actions>
  <app-comments
    *ngIf="commentsThisPost"
    [commentsPost]="commentsThisPost"
  ></app-comments>
</mat-card>
