<div class="mb" *ngIf="post">
  <button type="button" (click)="deletePost(post.id)">Удалить</button>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ post.title }}</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        {{ post.author }}
      </p>
      <mat-chip-list aria-label="Fish selection">
        <mat-chip color="accent" selected>{{ post.category }}</mat-chip>
        <mat-chip *ngFor="let tag of post.tags">{{ tag.name }}</mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>
        <mat-icon>favorite</mat-icon>
        {{ post.countLike }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
