<form [formGroup]="newComment" (ngSubmit)="addNewComment()" class="row m-auto">
  <mat-form-field class="col-11" appearance="outline">
    <mat-label>Добавь комментарий</mat-label>
    <textarea
      matInput
      placeholder="Ex. It makes me feel..."
      formControlName="content"
    ></textarea>
  </mat-form-field>
  <button
    class="ml-2"
    mat-icon-button
    color="accent"
    type="submit"
    [disabled]="newComment.invalid"
  >
    <mat-icon>add</mat-icon>
  </button>
</form>
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Комменты</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list
      *ngFor="let comment of commentsPost; index as index; last as isLast"
    >
      <mat-list-item *ngIf="!comment.changeRequest">
        <mat-icon>account_circle</mat-icon>
        {{ comment.content }}
        <span class="button-group"></span>
        <button
          mat-icon-button
          type="button"
          (click)="updateChangeRequest(index)"
        >
          <mat-icon>create</mat-icon>
        </button>
        <button mat-icon-button type="button" (click)="likeComment(index)">
          <mat-icon>favorite_border</mat-icon> {{ comment.countLike }}
        </button>
        <button mat-icon-button type="button" (click)="deleteComment(index)">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="comment.changeRequest">
        <form [formGroup]="changeComment" (ngSubmit)="updateComment(index)">
          <mat-form-field appearance="outline" class="col-8">
            <mat-label>Изменить</mat-label>
            <input matInput formControlName="content" required />
          </mat-form-field>
          <button mat-icon-button type="submit">
            <mat-icon>create</mat-icon>
          </button>
        </form>
        <button
          mat-icon-button
          type="button"
          (click)="updateChangeRequest(index)"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider *ngIf="!isLast"></mat-divider>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
